body {
	background-color: #ececec;
}

.login-page {
	width: 390px;
	margin: auto;
	margin-top: 70px;
	background-color: #bfbfbf;
	padding: 35px;
	border-radius: 12px;
}

h2 {
	text-align: center;
	margin: auto;
	margin-top: 120px; 
}

.btn .btn-danger {
	margin-left: 10px;
}


